<div class="as-see-wrapper container">
  <div class="page-width d-flex justify-center align-center">
    <h2>As Seen On</h2>
    <div class="press-images d-flex justify-between align-center">
      <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/forbes_india_logo.png?v=1675667270" height="25" width="120" />
      </div>
      <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/gq.png?v=1620294386" height="25" width="120" />
      </div>
      <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/elle.png?v=1620294367" height="25" width="120" />
      </div>
      <!-- <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/yourstory.png?v=1620294431" height="25" width="120" />
      </div> -->
      <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/mans_world.png?v=1620294450" height="25" width="120" />
      </div>
      <!-- <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/startup_city_2_94b3a2a2-1e28-4f16-b3a0-23ad6c30b167.jpg?v=1714984029" height="25" width="120" />
      </div>
      <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hospi2_e2d43021-0bcd-4ac7-988d-666afa756b73.jpg?v=1714984029" height="25" width="120" />
      </div> -->
      <div class="img-wrapper">
        <img  alt="Coffeeza Coffee" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/indianexpress.png?v=1620294412" height="25" width="120" />
      </div>
    </div>
  </div>
</div>