<img class="collection-banner desktop" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Top_banner.webp?v=1720583153" alt="Coffeeza Coffee" width="1000" height="400">
<img class="collection-banner mobile" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Top_banner.webp?v=1720583153" alt="Coffeeza Coffee" width="1000" height="400">
<div class="container">
  <div class="scroll-slider-wrapper">
    <div class="ground-coffee-beans-image ">
      <a href="#8WzCsqRC-VWPxtl541G1JQ" class="products">
        <div class="top">
          <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Intenso_beans.webp?v=1720583099" width="300" height="250">
          <p class="label">1KG Pack</p>
        </div>
        <div class="mid">
          <div class="title">Intenso Specialty "AA" Roasted Coffee Beans</div>
        </div>
        <div class="bottom">
          <h4>Best Enjoyed As</h4>
          <div class="more-details-wrapper">
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Espresso.webp?v=1715682106" alt="Coffeeza Coffee">
                  <p>Espresso</p>
              </div>
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/cappuccino.png?v=1716199951" alt="Coffeeza Coffee">
                  <p>Cappuccino</p>
              </div>
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/latte.png?v=1716199951" alt="Coffeeza Coffee">
                  <p>Latte</p>
              </div>
            </div>
        </div>
      </a>
      <a href="#8WzCsqRC-VWPxtl541G1JQ" class="products">
        <div class="top">
          <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Cremoso_beans.webp?v=1720583099" width="300" height="250">
          <p class="label">1KG Pack</p>
        </div>
        <div class="mid">
          <div class="title">Cremoso Specialty "AA" Roasted Coffee Beans</div>
        </div>
        <div class="bottom">
          <h4>Best Enjoyed As</h4>
          <div class="more-details-wrapper">
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Espresso.webp?v=1715682106" alt="Coffeeza Coffee">
                  <p>Espresso</p>
              </div>
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/cappuccino.png?v=1716199951" alt="Coffeeza Coffee">
                  <p>Cappuccino</p>
              </div>
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/latte.png?v=1716199951" alt="Coffeeza Coffee">
                  <p>Latte</p>
              </div>
            </div>
        </div>
      </a>
      <a href="#8WzCsqRC-VWPxtl541G1JQ" class="products">
        <div class="top">
          <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Forte_beans.webp?v=1720583099" width="300" height="250">
          <p class="label">1KG Pack</p>
        </div>
        <div class="mid">
          <div class="title">Forte Specialty "AA" Roasted Coffee Beans</div>
        </div>
        <div class="bottom">
          <h4>Best Enjoyed As</h4>
          <div class="more-details-wrapper">
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Espresso.webp?v=1715682106" alt="Coffeeza Coffee">
                  <p>Espresso</p>
              </div>
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/cappuccino.png?v=1716199951" alt="Coffeeza Coffee">
                  <p>Cappuccino</p>
              </div>
              <div class="more-details">
                    <img loading="lazy" loading="lazy" width="35" height="35" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/latte.png?v=1716199951" alt="Coffeeza Coffee">
                  <p>Latte</p>
              </div>
            </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="usp-whole-beans container">
  <h2 style="margin: 100px 0 40px;text-align:center;">Why Our Coffee Beans</h2>
  <div class="div-flex d-flex align-center justify-between">
    <div class="d-flex flex-column align-center justify-start">
      <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Specialty_AA.webp?v=1720583098">
      <h6 style="margin: 10px 0;     text-transform: capitalize;">Specialty AA Coffee</h6>
    </div>
    <div class="d-flex flex-column align-center justify-start">
      <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Roasted_Fresh.webp?v=1720583098">
      <h6 style="margin: 10px 0;     text-transform: capitalize;">Roasted Fresh</h6>
    </div>
    <div class="d-flex flex-column align-center justify-start">
      <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Shipping_PAN_India.webp?v=1720583098">
      <h6 style="margin: 10px 0;     text-transform: capitalize;">Shipping PAN India</h6>
    </div>
    <div class="d-flex flex-column align-center justify-start">
      <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Versatile_Blends.webp?v=1720583098">
      <h6 style="margin: 10px 0;     text-transform: capitalize;">Versatile Blends</h6>
    </div>
  </div>
</div>

<div style="margin:0 auto;padding-top:100px;" class="pxFormGenerator" id="8WzCsqRC-VWPxtl541G1JQ"></div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "header",
        "content": "Feature header"
      },
      {
        "type": "paragraph",
        "content": "Use the 'Add Collection' content setting to assign featured products and a unique background colour per collection. You will need to navigate to the selected collection to see the changes. [Learn more](https://cleancanvas.co.uk/support/boost-settings-collection-blocks)"
      },
      {
        "type": "checkbox",
        "id": "enable_feature_header",
        "label": "Enable Feature header",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "select",
        "id": "grid_mobile",
        "label": "Products per row mobile",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "min": 8,
        "max": 50,
        "step": 1,
        "label": "Products per page",
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "show_total",
        "label": "Show product total",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "show_filters",
        "label": "Enable filtering",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_filter_prod_counts",
        "label": "Show product counts",
        "default": true
      },
      {
        "type": "header",
        "content": "Sorting"
      },
      {
        "type": "checkbox",
        "id": "show_sort_by",
        "label": "Show 'sort by' option",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_featured",
        "label": "Show 'Featured' sort option",
        "default": false,
        "info": "Add your manually sorted order to the sort options"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "paragraph",
            "content": "Selecting a collection will show its collection image on the left, and the featured product on the right."
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Featured product"
          },
          {
            "type": "color",
            "id": "collection_text_color",
            "label": "Text color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "id": "collection_bg_color",
            "label": "Background color",
            "default": "#43467F"
          },
          {
            "type": "color_background",
            "id": "collection_bg_gradient",
            "label": "Background gradient",
            "info": "If set, replaces background color"
          },
          {
            "type": "header",
            "content": "Overlay",
            "info": "Shown over the collection featured image when a featured product is selected."
          },
          {
            "type": "color",
            "id": "color_overlay_bg",
            "label": "Background color",
            "default": "#ffffff"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Background opacity",
            "default": 10,
            "unit": "%"
          },
          {
            "type": "color",
            "id": "color_overlay_text",
            "label": "Text color",
            "default": "#333333"
          }
        ]
      }
    ]
  }
{% endschema %}
