{% assign bestselling-collection-1 = collections['ground-coffee-tier-1'] %}
{% assign bestselling-collection-2 = collections['ground-coffee-tier-2'] %}
{% assign bestselling-collection-3 = collections['ground-coffee-tier-3'] %}

{% assign espresso-ground-coffee-collection = collections['espresso-ground-coffee'] %}
{% assign moka-pot-ground-coffee-collection = collections['moka-pot-ground-coffee'] %}
{% assign aeropress-collection = collections['aeropress'] %}
{% assign french-press-ground-coffee-collection = collections['french-press-ground-coffee'] %}
{% assign pour-over-ground-coffee-collection = collections['pour-over-ground-coffee'] %}
{% assign cold-brew-ground-coffee-collection = collections['cold-brew-ground-coffee'] %}
{% assign filter-ground-coffee-collection = collections['filter-ground-coffee'] %}

{% assign all_collections = "bestselling-collection-1,espresso-ground-coffee-collection,moka-pot-ground-coffee-collection,aeropress-collection,french-press-ground-coffee-collection,pour-over-ground-coffee-collection,cold-brew-ground-coffee-collection,filter-ground-coffee-collection" | split: "," %}


<img class="collection-banner desktop" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/imgpsh_fullsize_anim_7.jpg?v=1717051311" alt="Coffeeza Coffee" width="1000" height="400">
<img class="collection-banner mobile" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Ground_Coffee_Mobile.webp?v=1717153018" alt="Coffeeza Coffee" width="1000" height="400">

<div class="container custom-breadcrumbs-container breadcrumbs-container">
  <div class="page-width">
    {%- render 'breadcrumbs', show_next_prev: true -%}
  </div>
</div>

{% render 'ground-coffee-slider' %}

{% assign GCoffeecounter = 0 %}
{% for collection_name in all_collections %}
{% assign collection = '' %}
{% case collection_name %}
  {% when 'bestselling-collection-1' %}
    {% assign collection = bestselling-collection-1 %}
  {% when 'espresso-ground-coffee-collection' %}
    {% assign collection = espresso-ground-coffee-collection %}
  {% when 'moka-pot-ground-coffee-collection' %}
    {% assign collection = moka-pot-ground-coffee-collection %}
  {% when 'aeropress-collection' %}
    {% assign collection = aeropress-collection %}
  {% when 'french-press-ground-coffee-collection' %}
    {% assign collection = french-press-ground-coffee-collection %}
  {% when 'pour-over-ground-coffee-collection' %}
    {% assign collection = pour-over-ground-coffee-collection %}
  {% when 'cold-brew-ground-coffee-collection' %}
    {% assign collection = cold-brew-ground-coffee-collection %}
  {% when 'filter-ground-coffee-collection' %}
    {% assign collection = filter-ground-coffee-collection %}
{% endcase %}
{% assign GCoffeecounter = GCoffeecounter | plus: 1 %}

{% assign limit = 15 %}
{% if request.query.view == 'all' %}
  {% assign limit = 15 %}
{% endif %}
  <script>
    console.log("limit:", {{ limit }});
  </script>
        
<div class="bestselling-capsules-wrapper bestselling-groundcoffee-wrapper ground-coffee-everything-wrapper collection-show relative category-wise-GCoffee-filter d-none {% if GCoffeecounter == 1 %}d-block{% endif %}" id="display-GCoffee-filter-category-{{ GCoffeecounter }}">
  <div class="bestselling-groundcoffee container scroll-slider-wrapper">
      <div id="gc-product-list-{{ GCoffeecounter }}" class="prod-card">
        {% if collection and collection.products.size > 0 %}
          {% for product in collection.products limit: limit %}
            {% render 'product-card-grid-list', product: product %}
          {% endfor %}
        {% else %}
          <p>The collection does not exist or has no products.</p>
        {% endif %}
      </div>
  </div>
  <div class="view-all-collection d-flex justify-center">
    <a href="https://coffeeza.in/collections/ground-coffee-tier-3" >
      <button type="button" >View All</button>
    </a>
  </div>
</div>
{% endfor %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const viewAllButtons = document.querySelectorAll('[id^="gc-view-all-button-"]');
    
    viewAllButtons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        event.preventDefault();
        const counter = button.id.split('-').pop(); // Get the GCoffeecounter value from the button ID
        const productListContainer = document.getElementById(`gc-product-list-${counter}`);
        
        fetch(window.location.pathname + '?view=all')
          .then(response => response.text())
          .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            const newProductList = doc.getElementById(`gc-product-list-${counter}`).innerHTML;
            productListContainer.innerHTML = newProductList;
          })
          .catch(error => {
            console.error('Error fetching the updated product list:', error);
          });
      });
    });
  });
</script>


<!-- <div class="full-width-banner">
      <img class="desktop" loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/imgpsh_fullsize_anim_14_1.png?v=1717670681" alt="Coffeeza Coffee" width="1000" height="300">
      <img class="mobile" loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Ground_Coffee_Mobile.webp?v=1717673326" alt="Coffeeza Coffee" width="1000" height="300">
       <div class="collection-data container">    
        <h2 class="collection-title">Bestselling Ground Coffee</h2>
        <p class="collection-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
      </div> 
</div> -->
  

<div class="full-width-banner">
      <img loading="lazy" class="desktop" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/coffee_farm_1_1c0cef21-c259-4ac0-934c-596aa6093198.webp?v=1717392833" alt="Coffeeza Coffee" width="" height="">
      <img loading="lazy" class="mobile" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/coffee_farm_2a7699ed-0831-4abb-9dff-3d242db8e132.webp?v=1717392832" alt="Coffeeza Coffee" width="" height="">
      <!-- <div class="collection-data container">    
        <h2 class="collection-title">Bestselling Ground Coffee</h2>
        <p class="collection-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
      </div> -->
</div>

