{% assign bestselling-collection-1 = collections['all-accessories'] %}

<img class="collection-banner desktop" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/capsules_main_banner.webp?v=1717147627" alt="Coffeeza Coffee" width="1000" height="400">
<img class="collection-banner mobile" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/capsules_main_banner_mobile.webp?v=1717153028" alt="Coffeeza Coffee" width="1000" height="400">

<div class="container custom-breadcrumbs-container breadcrumbs-container">
  <div class="page-width">
    {%- render 'breadcrumbs', show_next_prev: true -%}
  </div>
</div>

<h2 class="collection-title-outer container">Essential Coffee Gear</h2>
<p class="collection-para-outer container">Find all the accessories you need for the ultimate coffee experience!</p>  

<div class="bestselling-accessories-wrapper collection-show relative container" id="show-1">
    <div class="bestselling-accessories scroll-slider-wrapper">
        <div class="prod-card">
          {% if bestselling-collection-1 %}
            {% for product in bestselling-collection-1.products %}
              {% render 'product-card-grid-list', product: product %}
            {% endfor %}
          {% else %}
            <p>The collection "{{ collection_handle }}" does not exist.</p>
          {% endif %}
        </div>
                              
      <button name="prev_button" class="prev"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg></button>
                     <button name="next_button" class="next"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg></button>
    </div>
</div>

