<div class="main-div container everything-wrapper container">
    <div class="main-div-inside">
        <div class="relative ">
            <div class="scroll-slider-wrapper">
                <div class="everything">
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/1.avif?v=1715237506" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/2.avif?v=1715237506" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/3_a7f4d55a-0565-40aa-ba1b-de82e811f8a1.webp?v=1715237507" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/4_7d1b32a3-7986-43ea-b0c2-e743fc83b342.avif?v=1715237507" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/5.avif?v=1715237506" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/6_a5d132a4-7369-4d09-af9d-9dbb2f77beaf.avif?v=1715237506" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/7_a8ae46de-e72a-4f86-a1e6-088cb62c4009.avif?v=1715237506" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/8_a17cd564-017b-4b2e-af46-b51b27fab56e.avif?v=1715237506" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/10_72a9fd24-ccf1-4d21-9d5c-ad7fe49a1bd2.webp?v=1715237507" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/10_72a9fd24-ccf1-4d21-9d5c-ad7fe49a1bd2.webp?v=1715237507" alt="" width="90" height="90">
                    </div>
                    <div class="inner">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/11.avif?v=1715237507" alt="" width="90" height="90">
                    </div>
                </div>
                <button name="prev_button" class="prev">❮</button>
                <button name="next_button" class="next">❯</button>
            </div>
        </div>
    </div>
</div>