<div class="main-div container everything-wrapper coffee-capsule-everything-wrapper container">
    <div class="main-div-inside">
        <div class="relative ">
            <div class="scroll-slider-wrapper">
                <div class="everything">
                    <div class="inner d-flex flex-column align-center justify-between active" id="category-1">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/icons-27.png?v=1717571579" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Bestsellers</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between" id="category-2">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/espresso_3375f2a7-df07-43a2-a64e-34d5d4fcf9c0.png?v=1716199951" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Espresso</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between" id="category-3">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/cappuccino.png?v=1716199951" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Cappuccino</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between" id="category-4">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/latte.png?v=1716199951" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Latte</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between" id="category-5">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/iced-americano.png?v=1716199951" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Americano</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between" id="category-6">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/iced-latte.png?v=1716199951" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Iced Latte</p>
                    </div>
                </div>
                <button name="prev_button" class="prev"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg></button>
                <button name="next_button" class="next"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg></button>
            </div>
        </div>
    </div>
</div>