:root {
    --gold: #d17c0c;
    --bg: #eee;
    --red: #5bc8af;
    --light-white: #ddd;
    --medium-white: #bbb;
    --off-white: #aaa;
    --black: #333;
    --yellow: #ffde00;
  }
  
  .d-flex{
      display: flex;
  }
  
  .justify-center{
      justify-content: center;
  }
  
  .justify-start{
      justify-content: flex-start;
  }
  
  .justify-end{
      justify-content: flex-end;
  }
  
  .justify-between{
      justify-content: space-between  ;
  }
  
  .justify-evenly{
    justify-content: space-evenly;
  }
  
  .align-center{
      align-items: center;
  }
  
  .align-left{
      align-items: flex-end;
  }
  
  .align-start{
      align-items: flex-start;
  }
  
  .flex-column{
      flex-direction: column;
  }
  
  .d-none{
      display: none;
  }
  
  .d-block{
      display: block;
  }
  
  .d-grid{
    display: grid;
  }
  
  .relative{
      position: relative;
  }
  
  @keyframes marquee {
      0% { transform: translateX(0); }
      100% { transform: translateX(-100%); }
  }
  
  @keyframes top-down {
      0% { transform: translateY(-5%);opacity:0; }
      100% { transform: translateY(0%);opacity:1; }
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  
  body{
    &.custom-homepage{
    
      .header-group{
        .section-scrolling-banner{
          .marquee-item{
            font-size: 14px;
          }
        }
        header{
          background-color: transparent;
          transition: background-color 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
          .header-navigation, .docked-mobile-navigation-container__inner{
            background: transparent;
            transition: all 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
                padding-top: 0;
          }
          .site-nav {
            .site-nav__item{
              a{
                color: #fff !important;
                padding: 12px 15px 12px;
                &:hover{
                  color: gray !important;
                  svg{
                    fill: gray !important;
                    
                  }
                }
                &::after{
                  display: none;
                }
              }
              &.site-nav--active a{
                color: gray;
              }
              &.site-nav__invisible{
                position: static !important;
                opacity: 1 !important;
                pointer-events: all !important;
              }
              &.site-nav__more-links{
                display: none;
              }
            }
            &.desktop-navbar{
              .site-nav__item{
                .site-nav__link{
                  svg{
                    width: 12px;
                    height: 10px;
                    fill: #fff;
                    margin-left: 2px;
                  }
                }
              }
            }
          }
          .utils__right{
            margin-left: 0;
            svg{
              stroke: #fff;
              width: 25px;
              height: 25px;
            }
            .header-cart{
              .cart-summary{
                top: calc(100% + 20px);
                border-bottom: none !important;
                border: 1px solid lightgray;
                .cart-summary__header, .cart-summary__product-title, .btn--primary, .cart-summary__total-price-row span{
                      font-weight: 700;
                }
                .cart-summary__product__variants .added-notice__variant-label, .cart-summary__total-quantity-row span, .added-notice__variant-value{
                  font-weight: 600;
                }
                .theme-money{
                  color: red;
                  font-weight: 600;
                }
              }
            }
            .customer-account{
              .customer-account__menu{
                top: calc(100% + 20px);
                border-bottom: none !important;
                    border-radius: 12px;
              }
            }
            .utils__item:hover{
              svg{
                stroke: gray;
              }
              .header-cart__count{
                color: gray;
                border-color: gray;
              }
            }
             .header-cart__count{
               background-color: #0f0e0e;
                font-size: 9px;
               
             }
          }
          .site-nav>.site-nav__item>.site-nav__link:after{
            background-color: #fff;
          }
          .close-mobile-menu{
            display: none;
          }
        }
        .navbar-dropdown-wrapper{
              /* width: 100%; */
              // height: 65vh;
              box-shadow: 1px 1px 10px #b9b2b2;
              height: 60vh;
              min-height: 350px;
              background: #eee;
              /* background: linear-gradient(45deg, black, gold, white); */
              position: relative;
              z-index: 1;
              display: none;
              justify-content: center;
              align-items: center;
              .our-coffee-wrapper{
                  width: 100%;
                  height: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: flex-start;
                  .offers-deals-wrapper{
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      align-items: flex-start;
                      img{
                          height: auto;
                          border-radius: 8px;
                          margin-bottom: 35px;
                        box-shadow: 1px 1px 10px #b9b2b2;
                          &:last-child{
                              margin-bottom: 0;
                          }
                      }
                  }
                  .coffee-varities-wrapper{
                      .variety{   
                          cursor: pointer;
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          background: #fff;
                          /* padding: 10px 20px; */
                              border-radius: 15px;
                          box-shadow: 1px 1px 10px #bfbcbc;
                          margin-bottom: 25px;
                          &:last-child{
                              margin-bottom: 0;
                          }
                          img{
                              margin-right: 20px;
                                  border-radius: 15px 0 0 15px;
                          }
                          .details{
                                padding: 15px 15px 10px 0;
                              .detail-title{
                                font-size: 18px;
                                letter-spacing: 1px;
                                font-weight: 700;
                                text-align: left;
                                line-height: 0.8;
                              }
                              .detail-title-sec{
                                font-size: 28px;
                                font-family: system-ui;
                                font-weight: 800;
                                line-height: 0.7;
                                letter-spacing: 2px;
                              }
                              .detail-desc{
                                font-size: 14px;
                                letter-spacing: 0;
                                margin: 5px 0 0 0;
                              }
                          }
                      }
                  }    
                  .shop-by-flavours{
                      width: 200px;
                      h3{
                          margin-bottom: 30px;
                          text-align: center;
                            font-size: 15px;
                          font-weight: 800;
                          min-width: fit-content;
                      }
                      .capsule-flavour, .ground-coffee-flavour, .pour-over-flavour{
                          display: grid;
                          grid-template-columns: auto auto;
                          gap: 30px;
                          .flavour-wrapper{
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;
                              cursor: pointer;
                              img{
                                  border-radius: 50%;
                                  box-shadow: 1px 1px 10px #cfcfcf;
                              }
                              h2{
                                  font-size: 12px;
                                  text-transform: uppercase;
                                  letter-spacing: 2px;
                                  font-weight: 600;
                                  margin-top: 5px;
                              }         
                          }         
                      }
                      .capsule-flavour{
                          &.others-hovered{
                              display: none;
                          }
                          &.keep-displaying, &.hovered{
                              display: grid;
                          }
                      }
                      .pour-over-flavour{
                          grid-template-columns: auto;
                          display: none;
                          &.hovered, &.keep-displaying{
                              display: grid;
                          }
                      }
                      .ground-coffee-flavour{
                          display: none;
                          &.hovered, &.keep-displaying{
                              display: grid;
                          }
                      }
                  }
                  &.hovered{
                      display: flex;
                      animation: top-down 1s cubic-bezier(0.5, 0, 0, 1) 0s; 
                  }
              }
              .coffee-machine-wrapper{
                  width: 100%;
                  height: auto;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: flex-start;
                  display: none;
                  &.hovered{
                      display: flex;
                    animation: top-down 1s cubic-bezier(0.5, 0, 0, 1) 0s; 
                  }
                  .offers-deals-wrapper{
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      align-items: flex-start;
                      img{
                          height: auto;
                          border-radius: 15px;
                          margin-bottom: 35px;
                        box-shadow: 1px 1px 10px #b9b2b2;
                          &:last-child{
                              margin-bottom: 0;
                          }
                      }
                  }
                  
                  .coffee-varities-wrapper{
                      width: 375px;
                      &:last-child{
                          width: 375px;
                      }
                      .variety{
                            /* max-width: 350px; */
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          background: #fff;
                          /* padding: 10px 20px; */
                          border-radius: 15px;
                          box-shadow: 1px 1px 10px #bfbcbc;
                          margin-bottom: 20px;
                          position: relative;
                          &:last-child{
                              margin-bottom: 0;
                          }
                          img{
                              margin-right: 20px;
                                  border-radius: 15px 0 0 15px;
                          }
                          .details{
                                padding: 10px 10px 10px 0;
                              h2{
                                      font-weight: 700;
                                    line-height: 1;
                                    
                                font-size: 16px;
                                  text-transform: uppercase;
                                  .label{
                                      position: absolute;
                                      top: 0;
                                      right: 0;
                                      border-radius: 4px 0 0 4px;
                                      background: red;
                                      padding: 2px 5px;
                                      color: #fff;
                                      font-size: 14px;
                                      font-weight: 500;
                                  }
                              }
                              p{
                                    margin: 5px 0 0;
                                  font-size: 13px;
                                  line-height: 1;
                              }
                          }
                      }
                  } 
              }
              .accessorie-wrapper{
                  width: 100%;
                  height: auto;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: flex-start;
                  display: none;
                  &.hovered{
                      display: flex;
                    animation: top-down 1s cubic-bezier(0.5, 0, 0, 1) 0s; 
                  }
                  .offers-deals-wrapper{
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      align-items: flex-start;
                      img{
                          height: auto;
                          border-radius: 15px;
                          margin-bottom: 35px;
                        box-shadow: 1px 1px 10px #b9b2b2;
                          &:last-child{
                              margin-bottom: 0;
                          }
                      }
                  }
                  .coffee-varities-wrapper{
                      width: 365px;
                      &:last-child{
                          width: 375px;
                      }
                      .variety{
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          background: #fff;
                          /* padding: 10px 20px; */
                          border-radius: 15px;
                          box-shadow: 1px 1px 10px #bfbcbc;
                          margin-bottom: 20px;
                          position: relative;
                          &:last-child{
                              margin-bottom: 0;
                          }
                          img{
                              margin-right: 20px;
                              border-radius: 15px 0 0 15px;
                          }
                          .details{
                               padding: 20px 10px 20px 0;
                              h2{
                                  font-size: 14px;
                                      font-weight: 600;
                                  line-height: 1.1;
                                  letter-spacing: 1px;
                                  .label{
                                      position: absolute;
                                      top: 0;
                                      right: 0;
                                      border-radius: 4px 0 0 4px;
                                      background: red;
                                      padding: 2px 5px;
                                      color: #fff;
                                      font-size: 14px;
                                      font-weight: 500;
                                  }
                              }
                              p{}
                          }
                      }
                  } 
              }
              .know-more-wrapper{
                  width: 100%;
                  height: auto;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: flex-start;
                  display: none;
                  position: relative;
                  &.hovered{
                      display: flex;
                    animation: top-down 1s cubic-bezier(0.5, 0, 0, 1) 0s; 
                  }
                  .coffee-varities-wrapper{
                      // width: 220px;
                      .variety{
                          margin-bottom: 20px;
                          &:last-child{
                              margin-bottom: 0;
                          }
                          img{
                              margin-right: 20px;
                              border-radius: 50%;
                            display: none;
                          }
                          .details{
                              h2{
                                  font-size: 14px;
                                  letter-spacing: 1px;
                                  text-transform: capitalize;
                                color: #333;
                                cursor: pointer;
                                &:hover{
                                  color: lightgray;
                                }
                                  .label{
                                      position: absolute;
                                      top: 0;
                                      right: 0;
                                      border-radius: 4px 0 0 4px;
                                      background: red;
                                      padding: 2px 5px;
                                      color: #fff;
                                      font-size: 14px;
                                      font-weight: 500;
                                  }
                              }
                              a{
                                    text-decoration: none;
                              }
                          }
                      }
                  } 
              }
              .policies{
                  width: 100%;
                  position: absolute;
                  bottom: 25px;
                  left: 50%;
                  transform: translateX(-50%);
                  justify-content: center;
                  h2{
                      font-size: 12px;
                        color: gray;
                        text-transform: capitalize;
                      font-weight: 400;
                      letter-spacing: 2px;
                      text-decoration: underline;
                    &:hover{
                      color: lightgray;
                    }
                  }
                  .variety{
                      margin-right: 20px;
                      &:last-child{
                          margin: 0;
                      }
                      cursor: pointer;
                  }
              }
              &.hovered{
                  display: flex   ;
                animation: top-down 1s cubic-bezier(0.5, 0, 0, 1) 0s; 
              }
          &#navbar-wrapper-5{
            height: 45vh;
          }
          }
        .docked-header--dock .docked-navigation-container__inner{
            position: static;
          .header-navigation{
            padding-top: 0 !important;
          }
        }
        .site-header{
          position: fixed;
          top: 38px;
          left: 0;
          width: 100%;
          z-index: 101;
          box-shadow: 0 4px 10px transparent;
          transition: all 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
          &.scrolled{
            /* background-color: #333; */
            box-shadow: 0 4px 10px #000000bf;
            top: 0px;
            header{
              background: #0f0e0e;
              &:is(.header-navigation,.docked-mobile-navigation-container__inner){
                background: #0f0e0e;
              }
            }
          }
          nav{
            .mobile-nav-top-banner, .top-nav-menubar-wrapper, .top-nav-menubar-wrapper, .og-menu-category-wrapper, .nav-quiz-wrapper{
              display: none;
            }
          }
        }
      }
    
      .banner-custom{
        .slide{
          border-radius: 0;
          .rimage-outer-wrapper{
            height: calc(75vh - 38px);
            background-size: contain ;
            /* background-repeat: no-repeat; */
          }
        }
        .slick-dots{
          position: absolute;
          left: 50%;
          bottom: 10px;
          transform: translateX(-50%);
        }
        .full-width-slideshow-controls{
          top: 50%;
          bottom: unset;
          transform: translateY(-50%);
          svg{
            width: 50px;
            height: 50px;
          }
          button{
            width: 50px;
            height: 50px;
            fill: #ffffff90;
          }
          &.full-width-slideshow-controls--prev{
            left: 60px;
          }
          &.full-width-slideshow-controls--next{
            right: 60px;
          }
        }
      }
  
      .as-see-wrapper{
        padding-top: 25px;
        padding-bottom: 25px;
        .page-width{
          h5{
            text-align: center;
            font-size: 16px;
            letter-spacing: 2px;
                min-width: fit-content;
          }
          .press-images{
            .img-wrapper{
              padding: 10px 5px;
              /* box-shadow: 1px 1px 5px gray; */
              border-radius: 8px;
              margin-left: 20px;
            }
            img{
            }
          }
        }
      }
    
      .founders-note-wrapper{
        padding: 100px 0;
        .page-width{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        img{
          border-radius: 50%;
          height: auto;
        }
        .details{
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        p{
          text-align: center;
          line-height: 1.8;
          font-weight: 500;
          color: #000;
          margin-top: 40px;
        }
        button{
          margin-top: 20px;
          font-weight: 700;
          font-size: 14px;
        }
      }
      
      .footer-group{
        margin-top: 0;
      }
      
      #shopify-section-footer{
        
        .payment-gateway-wrapper{
          background: transparent;
          padding-top: 16px;
          padding-bottom: 16px;
          border-top: 1px solid lightgray;
          .page-width{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .first{
            p{
              font-weight: 600;
            }
          }
          .mid{
            img{
              margin: 0 10px;
            }
          }
          .last{
            p{
              font-size: 16px;
              line-height: 24px;
              color: darkgreen;
              font-family: cursive;
            }
          }
        }
        
        .sticky-footer{
          position: static;
        }
    
        .page-footer__subscribe{
          width: 100%;
          max-width: unset;
          background-color: #353535;
          padding-top: 36px;
          padding-bottom: 36px;
          .left{
            .contact-form{
              margin-left: 30px
            }
            .email-sub-header{
              width: 360px;
              color: var(--gold);
              font-size: 20px;
              font-weight: 700;
              text-transform: capitalize;
              letter-spacing: 0px;
            }
            .email-sub-para{
              font-size: 12px;
              width: 360px;
              margin: 0;
            }
            .subscribe-form__submit{
              font-size: 14px;
              height: 48px;
              padding: 12px 12px;
              line-height: 14px;
              color: #fff;
              background-color: #111;
              border-radius: 8px;
              border: 2px solid var(--gold);
              cursor: pointer;
              margin-left: 15px;
              min-width: 120px;
            }
            input{
              border-radius: 8px;
              border: 1px solid #a0a1a2;
              outline: none;
              transition: all 0.3s ease-in-out;
              width: 100%;
              height: 46px;
              padding: 0 15px;
              font-size: 14px;
              line-height: 22px;
              width: 250px;
              background: #fff;
              color: #333;
            }
            .subscribe-form__label{
              color: #fff;
              padding: 0 15px;
              left: -15px;
              top: -10px;
            }
            .subscribe-form__inputs{
              border: none;
            }
            .input-wrapper.is-empty:not(.in-focus) label, .input-wrapper:empty:not(.in-focus) label{
              top: calc((30px + 1.4em) / 2);
              left: 0;
              color: #333;
            }
          }
          .right{
            .social-links__list{
              svg{
                width: 20px;
                height: 20px;
                fill: #fff;
                margin-left: 10px;
              }
            }
          }
        }
    
        .page-footer__end{
          margin-top: 0;
          display: block;
          .second{
            padding-top: 50px;
            padding-bottom: 50px;
            .left{
                /* flex-wrap: wrap; */
                ul{
                    h3{
                        color: #d17c0c;
                        font-size: 20px;
                      
                    }
                    li{
                        list-style-type: none;
                        font-size: 14px;
                        letter-spacing: .25px;
                        line-height: 35px;
                        text-decoration: none;
                        transition: color .2s ease-in-out;
                        a{
                          text-decoration: none;
                          color: #fff;
                          cursor: pointer;
                          padding: 5px 0;
                        }
                      &:hover a{
                        color: var(--gold);
                      }
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                align-self: normal;
                .footer-logo{
                    margin-bottom: 40px;
                    margin-top: 8px;
                }
                h3{
                    color: #d17c0c;
                    margin-bottom: 8px;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
                img{
                    margin-right: 10px;
                }
                p{
                    color: #fff;
                    margin: 0 0 5px 0;
                    font-size: 16px;
                }
                p:first-child{
                    margin: 10px 0;
                    color: #a0a1a2;
                    font-size: 12px;
                }
              a{
                color: white;
                &:hover{
                  color: var(--gold);
                }
              }
            }
        }
          .third{
              p{
                  text-align: center;
                  font-size: 14px;
                  color: #d17c0c;
                  &:last-child{
                      margin-top: 30px;
                      font-size: 12px;
                      width: 70%;
                      margin: 12px auto 0;
                      /* padding-bottom: 36px; */
                      color: #fff;
                  }
              }
          }
          }
        
      }
    
    }
  
    &.search-bar-open{
      .search-bar{
        svg{
          stroke: #000 !important;
        }
        .search-form__input{
          color: #000 !important;
        }
      }
      header{
        background-color: #fff !important;
      }
    }  
  
    #loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff; 
      z-index: 9999; 
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
      .spinner {
        border: 4px solid #000; 
        border-top: 4px solid var(--gold); 
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite; 
      }
    }
    
  }
  
  @media screen and (max-width: 1200px){
    
  }
  
  @media screen and (min-width: 939px) and (max-width: 1023px){
    header{
      .docked-navigation-container{
        .header-navigation {
              padding-right: 0px;
        }
      }
      .utils__right{
        margin-left: 15px;
        svg{
          width: 18px !important;
          height: 18px !important;
        }
      } 
      .site-nav>.site-nav__item>.site-nav__link{
        padding: 12px 10px 12px 0 !important;
                font-size: 11px;
        svg{
          margin-left: 0px !important;
        }
      }
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1150px){
    header{
      .docked-navigation-container{
        .header-navigation {
          padding-right: 0px;
        }
      }
      .utils__right{
        margin-left: 15px;
        svg{
          width: 18px !important;
          height: 18px !important;
        }
      } 
      .site-nav>.site-nav__item>.site-nav__link{
        padding: 12px 10px 12px 0 !important;
                font-size: 12px;
        svg{
          margin-left: 0px !important;
        }
      }
    }
  }
  
  @media screen and (min-width: 1151px) and (max-width: 1250px){
    header{
      .docked-navigation-container{
        .header-navigation {
          padding-right: 0px;
        }
      }
      .utils__right{
        margin-left: 15px;
        svg{
          width: 18px !important;
          height: 18px !important;
        }
      } 
      .site-nav>.site-nav__item>.site-nav__link{
                padding: 12px 15px 12px 0 !important;
                font-size: 14px;
      }
    }
  }
  
  @media screen and (max-width: 1024px){
    body{
      .page-footer__subscribe{
        .page-width{
          flex-direction: column !important;
          .left{
            flex-direction: column;
            width: 100%;
            .email-sub-header, .email-sub-para{
              width: 100% !important;
              text-align: center;
            }
            .contact-form{
              width: 100%;
              margin-top: 30px;
              .subscribe-form__inputs{
                justify-content: center;
                .input-wrapper{
                  max-width: fit-content;
                  border: none;
                }
              }
            }
          }
          .right{
            margin-top: 15px !important;
          }
        }
      }
    
      header{
        .utils__right{
          margin-left: 0 !Important;
        } 
      }
  
      .navbar-dropdown-wrapper{
        height: 35vh !important;
      }
  
      .as-see-wrapper{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        .page-width{
          overflow: auto;
          justify-content: flex-start;
          h5{
            min-width: fit-content;
            font-size: 14px;
            letter-spacing: 1px;
          }
          .press-images{
            display: grid;
            grid-template-columns: repeat(8, 120px);
            .img-wrapper{
              margin-left: 20px;
              padding: 0 !important;
            }
            img{
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 939px){
    body{
      &.custom-homepage{
        .header-group header{
          .close-mobile-menu{
            display: none;
            margin-left: -8px;
            svg{
              stroke: #fff;
            }
          }
          .burger-icon{
            display: block;
            svg {
              stroke: #fff;
            }
          } 
          .docked-mobile-navigation-container__inner.clicked{
            .close-mobile-menu{
              display: block;
            }
            .burger-icon{
              display: none;
            }
          }
          nav{
            .mobile-nav-top-banner, .top-nav-menubar-wrapper, .top-nav-menubar-wrapper, .og-menu-category-wrapper{
              display: block !important;
            }
            .nav-quiz-wrapper{
              display: flex !important;
            }
          }
          .store-logo{
            position: absolute;
            left: 50%;
            margin-left: 0 !important;
            transform: translate(-50%);
          }
          .navbar-dropdown-wrapper{
            display: none !important;
          }
        }
        .header-navigation--open{
          .navigation__container{
            top: 100px;
            padding: 0;
            .mobile-nav-top-banner{
              border-top: 1px solid gray;
            }
            .top-nav-menubar-wrapper{
              .menubar-wrapper-inner{
                padding: 20px 15px;
                h2{
                  position: relative;
                  max-width: fit-content;
                  font-size: 22px;
                  font-weight: 700;
                  letter-spacing: 2px;
                  margin: 25px 0;
                  .new-tag{
                    background: red;
                    font-size: 12px;
                    position: absolute;
                    top: -1px;
                    right: -60px;
                    color: white;
                    padding: 0px 5px;
                    border-radius: 4px;
                  }
                }
              }
            }
            .og-menu-category-wrapper{
              .category-wrapper-inner{
                .deals{
                  padding: 15px;
                  img{
                    width: calc(100% - 30px);
                    border-radius: 20px;
                    height: auto;
                    margin-bottom: 15px;
                    box-shadow: 0 1px 10px #d3d3d3;
                  }
                }
                .category-wrapper{
                    border-radius: 20px;
                    background: #fff;
                    box-shadow: 0px 1px 10px lightgray;
                    margin: 0 15px 15px;
                  img{
                    border-radius: 20px 0 0 20px;
                  }
                  .detail{
                    padding: 10px 10px 10px 0;
                    margin-left: 20px;
                    .detail-title{
                      font-size: 18px;
                      letter-spacing: 1px;
                      font-weight: 700;
                      text-align: left;
                    }
                    .detail-title-sec{
                      font-size: 28px;
                      font-family: system-ui;
                      font-weight: 800;
                      line-height: 0.7;
                      letter-spacing: 2px;
                    }
                    .detail-desc{
                      font-size: 14px;
                      letter-spacing: 0;
                      margin: 10px 0 0 0;
                    }    
                  }
                }
              }
            }
            .mobile-site-nav{
              margin: 20px;
            }
  
            .nav-quiz-wrapper{
                  background: linear-gradient(95deg, #2e3192 24.51%, #3d41c1 74.35%);
                  color: #ffffff;
                  padding: 30px 15px;
                  margin-top: 40px;
                  .para{
                    width: 50%;
                    font-weight: 700;
                    font-size: 16px;
                  }
                  button{
                    background: var(--yellow);
                    border: none;
                    border-radius: 4px;
                    padding: 15px 10px;
                    font-weight: 700;
                  }
            }
            
            .header-social-icons{
              padding: 0px 0 40px 0;
              border-top: 1px solid gray;
              .social-links__list{
                padding: 40px 0;
                li{
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
        .site-header.scrolled{
          .header-navigation--open{
            .navigation__container{
              top: 70px;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px){
    body{
      &.custom-homepage{
        .banner-custom{
          margin: 0;
          .slide{
            .rimage-outer-wrapper{
                background-repeat: no-repeat;
                background-size: cover !Important;
                border-radius: 0;
            }
          }
        }
        .founders-note-wrapper .page-width{
          .details{
            width: 80%;
          }
          flex-direction: column;
        }
      }
      main{
        .product-carousel-peek{
          margin: 0 !important;
        }
      }
    }
  }
  
  @media screen and (max-width: 450px){
    body{
      &.custom-homepage{
        .container{
          padding: 0px 15px;
        }
   
        header{
          padding: 0 !important;
          .store-logo{
            position: absolute;
            left: 50%;
            margin-left: 0 !important;
            transform: translateX(-50%);
          }
          .customer-account{
            display: none;
          }
        
          .utils{
            padding: 15px 15px;
            .burger-icon svg{
              stroke: #fff;
            }
            .utils__item--search-icon{
              margin-right: 0 !Important;
            }
          }
          
        }
      
        .site-header{
            top: 30px !important;
            &.scrolled{
              /* background-color: #333; */
              top: 0px !important;
            }
          }
  
        .banner-custom{
          .slide{
            .rimage-outer-wrapper{
                height: 300px;
                background-size: contain ;
            }
          }
          .slick-dots{
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
          }
          .full-width-slideshow-controls{
            svg{
              width: 35px;
              height: 35px;
            }
            button{
              width: 35px;
              height: 35px;
            }
            &.full-width-slideshow-controls--prev{
              left: 10px;
            }
            &.full-width-slideshow-controls--next{
              right: 10px;
            }
          }
        }
  
        .as-see-wrapper{
          padding-bottom: 5px !Important;
          .page-width{
            padding-bottom: 10px;
            .press-images{
              .img-wrapper{
                margin-left: 10px;
              }
            }
          }
        }
      
        .founders-note-wrapper{
          padding: 50px 15px !Important;
          .page-width{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          img{
            border-radius: 50%;
            height: auto;
          }
          .details{
            width: 100% !important;
          }
          p{
            width: 100% !important;
            font-size: 12px;
          }
          button{
            width: 100%;
            padding: 15px !Important;
          }
        }
        
        .payment-gateway-wrapper{
            .page-width{
              flex-direction: column; 
              justify-content: flex-start;
              align-items: center;
            }
          .mid img{
            width: 30px;
            height: auto;
          }
        }
        
        .page-footer__subscribe{
          .left{
            flex-direction: column;
            input{
              width: 230px !important;
            }
            .email-sub-header{
              font-size: 18px !important;
              text-align: left !important;
            }
            .email-sub-para{
              text-align: left !important;
            }
          }
          .contact-form{
            margin-left: 0 !important;
            margin-top: 0 !important;
            width: 100%;
          }
          .subscribe-form__inputs{
            display: flex;
            justify-content: space-between !important;
            margin-top: 30px;
          }
          .subscribe-form__submit{
            min-width: 100px !important;
            font-size: 12px !important;
            padding: 0px !important;
            margin-left: 10px !important;
            min-width: 100px !important;
          }
          .page-width .right{
            width: 100%;
            margin-top: 0 !important;
            .social-links__list{
              li{
                margin: 0;
                padding: 0;
              }
              justify-content: space-between;
              svg{
                width: 25px !important;
                height: 25px !important;
                margin: 0px !important;
              }
            }
          }
        }
      
        .page-footer__end{
          .second{
                  .left{
                        flex-wrap: wrap;
                      ul{
                          margin-bottom: 40px;
                          width: 47%;
                          li{
                              font-size: 13px !important;
                              line-height: 28px !important;
                          }
                      }
                  }
                  .right{
                      width: 100%;
                      justify-content: center !important;
                      flex-direction: column-reverse;
                      align-items: center !important;
                      .footer-logo{
                          margin-bottom: 30px !Important;
                          margin-top: 40px !important;
                      }
                  }
              }
          .third{
            p:last-child{
              width: 100% !important;
              font-size: 10px !important;
            }
            p:first-child{
              font-size: 12px !important;
            }
          } 
        }
      }
    }
  }