<div class="main-div container categories" id="one">
    <div class="main-div-inside">
        <h2 class="">Exclusive Flavours</h2>
        <div class="relative">
            <div class="main-div-inside scroll-slider-wrapper">
                <div class="categories-wrapper justify-center align-center">
                    <div class="category">
                        <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/SummerMango_CapsuleFront.jpg?v=1713242612" alt="" width="150" height="150">
                        <h3>Summer Mango</h3>
                    </div>
                    <div class="category">
                        <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/MonsoondedMalabar_CapsuleFront.jpg?v=1709802664" alt="" width="150" height="150">
                        <h3>monsoon malabar</h3>
                    </div>
                    <div class="category">
                        <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/EnglishRosefront.jpg?v=1701162065" alt="" width="150" height="150">
                        <h3>English Rose</h3>
                    </div>
                    <div class="category">
                        <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/TurrkishBaklava_CapsuleFront_1728x_fcdb077b-afa1-468e-9170-91801df82f86.webp?v=1715142103" alt="" width="150" height="150">
                        <h3>Turkish Baklava</h3>
                    </div>
                    <div class="category">
                        <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/pumpkinfront.jpg?v=1698379751" alt="" width="150" height="150">
                        <h3>Pumpkin spice</h3>
                    </div>
                    <div class="category">
                        <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" alt="" width="150" height="150">
                        <h3>Hazelnut Arabica</h3>
                    </div>
                </div>
                <button name="prev_button" class="prev">❮</button>
                <button name="next_button" class="next">❯</button>
            </div>
        </div>
    </div>
</div>