<div class="grindGuid">
  <span class="guide_closs_btn">
      <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" class="" src="//cdn.shopify.com/s/files/1/1308/0907/t/239/assets/guide_cross_icon.png?v=55464333187957442111660282224" src="//cdn.shopify.com/s/files/1/1308/0907/t/239/assets/guide_cross_icon.png?v=55464333187957442111660282224">
  </span>
  <div class="grind-guid_inner">
    <div class="grind-guid_inner">
      <div class="row-grind">
        <h2>COARSE GRIND</h2>
        <div class="grind-col-wrap">
          <div class="col-guid">
            <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/french-press.png?v=1662707133">
            <h4>French Press</h4>
          </div>
          <div class="col-guid">
            <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/cold-brew.png?v=1662708157">
            <h4>Cold Brew</h4>
          </div>
        </div>
      </div>
      <div class="row-grind">
        <h2>MEDIUM GRIND</h2>
        <div class="grind-col-wrap">
          <div class="col-guid">
            <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/pour-over.png?v=1662708327">
            <h4>Pour Over</h4>
          </div>
          <div class="col-guid">
                <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/filter-coffee.png?v=1662708361">
            <h4>Filter Coffee</h4>
          </div>
          <div class="col-guid">
               <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/aeropress.png?v=1662708379">
            <h4>Aeropress</h4>
          </div>
        </div>
      </div>
      <div class="row-grind">
        <h2>Fine Grind</h2>
        <div class="grind-col-wrap">
          <div class="col-guid">
            <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/moka-pot.png?v=1662708346">
            <h4>Moka Pots</h4>
          </div>
          <div class="col-guid">
                <img loading="lazy" alt="Coffeeza Coffee" height="60" width="105" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/espresso.png?v=1662708460">
            <h4>Espresso Machines</h4>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
<style>
  div#shopify-section-grind-guid-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display:none;
}
.grindGuid {
  
    width: 100%;
    max-width: 384px;
    padding: 35px 40px;
    background-color: #bd9b54;
    box-shadow: 0px 32px 32px rgb(0 0 0 / 20%);
    border-radius: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.row-grind {
    margin-bottom: 30px;
}
.row-grind h2 {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
.grind-col-wrap {
    display: flex;
    /* align-items: center; */
    justify-content: start;
}
.col-guid {
    width: 33.33%;
    text-align: center;
}
.col-guid img {
    max-height: 72px;
}
.col-guid h4 {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
}
.row-grind:last-child {
    margin-bottom: 0;
}
  span.guide_closs_btn {
    position: absolute;
    width: 40px;
    right: -17px;
    top: -18px;
    cursor: pointer;
}
@media only screen and (max-width: 500px){

  .grindGuid {
    width: 100%;
    max-width: 325px;
    padding: 35px 15px;
  }
}
</style>
{% schema %}
{ 
  "name": "Grind Popup",
	"max_blocks": 500,
  "settings": [


  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add block",
      "settings": [
        {
      "id": "title",
      "type": "text",
      "label": "Heading"
    },
{
                      "type": "image_picker",
                      "label": "image 1",
                      "id" : "image1"
},
{
    "id": "caption1",
    "type": "text",
    "label": "Sub Heading"
  },
{
                      "type": "image_picker",
                      "label": "image 2",
                      "id" : "image2"
},
{
    "id": "caption2",
    "type": "text",
    "label": "Sub Heading"
  },
              {
                      "type": "image_picker",
                      "label": "image 3",
                      "id" : "image3"
},
{
    "id": "caption3",
    "type": "text",
    "label": "Sub Heading"
  }

        
      ]
    }
  ],
  "presets": [
    {
      "name": "Grind Popup",
      "category": "Grind Popup",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}
