<div class="main-div container everything-wrapper ground-coffee-everything-wrapper container">
    <div class="main-div-inside">
        <div class="relative ">
            <div class="scroll-slider-wrapper">
                <div class="everything">
                    <div class="inner d-flex flex-column align-center justify-between active">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/icons-27.png?v=1717571579" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Bestsellers</p>
                    </div>  
                    <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/espresso_894a55d8-e13b-4060-98ce-f268a5838688.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Espresso </p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/moka-pot_ca1b287c-0113-4426-b1b2-cf76d6d3ee53.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Moka Pot</p>
                    </div>
                     <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/aeropress_0fe3e71c-8e94-4549-9b22-edb3c326832c.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Aeropress</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/french-press_bf85bee6-9be8-480f-9c56-e1265e7e90f8.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">French Press</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/pour-over_69be3b25-59f2-4767-8d0e-940d1f5b5fb1.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Pour-Over</p>
                    </div>
                    <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/cold-brew_08faeeaa-1710-4c6f-866c-b46fc51f18e5.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Cold Brew</p>
                    </div>
                    
                    <div class="inner d-flex flex-column align-center justify-between">
                        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/filter.png?v=1716288449" alt="Coffeeza Coffee" width="90" height="90">
                        <p class="caption">Filter</p>
                    </div>
                   
                </div>
                <button name="prev_button" class="prev"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg></button>
                     <button name="next_button" class="next"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg></button>
            </div>
        </div>
    </div>
</div>