<div class="main-div container instagram" id="seven">
            <div class="main-div-inside">
                <h2>Say Hello On Instagram!</h2>
                <p>Tag us in your stories to get featured in ours</p>
                <p>Follow us at @Coffeezaindia</p>
                <div class="insta-wrapper">
                    <div class="insta-post">
                      <video src="https://cdn.shopify.com/videos/c/o/v/baea50ea17dd414687a080bc89d9dbc2.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                    </div>
                    <div class="insta-post">
                      <video src="https://cdn.shopify.com/videos/c/o/v/954a39cf5b5a4c6bae31de9d38c40b95.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                    </div>
                    <div class="insta-post">
                      <video src="https://cdn.shopify.com/videos/c/o/v/caeeb46655164861bf1bc388ed29a030.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                    </div>
                    <div class="insta-post">
                      <video src="https://cdn.shopify.com/videos/c/o/v/d3acd50280ed4cf0ac5e9cc9aa14db14.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                    </div>
                    <div class="insta-post">
                      <video src="https://cdn.shopify.com/videos/c/o/v/a4ea9d3c67ff4613abebafa095d2fc0f.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                    </div>
                    <div class="insta-post">
                      <video src="https://cdn.shopify.com/videos/c/o/v/954a39cf5b5a4c6bae31de9d38c40b95.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                    </div>
                </div>
            </div>
        </div>