<div class="hero-section-wrapper">
  <div class="video">
    <a href="https://coffeeza.in/collections/coffee-machines/products/finero-next-capsule-coffee-machine">
      <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/side1_gif.gif?v=1716187317" alt="Coffeeza Coffee" height="" width="">
    </a>
  </div>
</div>