<div class="main-div container instagram-reels container" id="seven">
    <div class="main-div-inside">
        <h2>Say Hello On Instagram!</h2>
        <p>Tag us in your stories to get featured in ours</p>
        <p>Follow us at <span>@Coffeezaindia</span></p>
        <div class="insta-wrapper">
            <div class="insta-post">
              <video src="https://cdn.shopify.com/videos/c/o/v/baea50ea17dd414687a080bc89d9dbc2.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
              <a href="#" class="product-wrapper d-flex justify-start align-center">
                <div class="product-img">
                  <img class="" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" width="35" height="35">
                </div>
                <div class="data">
                  <h2 class="product-title">Monsooned Malabar Monsooned Malabar</h2>
                  <div class="product-price-wrapper d-flex justify-start align-end">
                    <p class="product-price">Rs. 5000</p>
                    <span>Rs. 6000</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="insta-post">
              <video src="https://cdn.shopify.com/videos/c/o/v/954a39cf5b5a4c6bae31de9d38c40b95.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                <a href="#" class="product-wrapper d-flex justify-start align-center">
                  <div class="product-img">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" width="35" height="35">
                  </div>
                  <div class="data">
                    <h2 class="product-title">Monsooned Malabar Monsooned Malabar</h2>
                    <div class="product-price-wrapper d-flex justify-start align-end">
                      <p class="product-price">Rs. 5000</p>
                      <span>Rs. 6000</span>
                    </div>
                  </div>
                </a>
            </div>
            <div class="insta-post">
              <video src="https://cdn.shopify.com/videos/c/o/v/caeeb46655164861bf1bc388ed29a030.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                <a href="#" class="product-wrapper d-flex justify-start align-center">
                  <div class="product-img">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" width="35" height="35">
                  </div>
                  <div class="data">
                    <h2 class="product-title">Monsooned Malabar Monsooned Malabar</h2>
                    <div class="product-price-wrapper d-flex justify-start align-end">
                      <p class="product-price">Rs. 5000</p>
                      <span>Rs. 6000</span>
                    </div>
                  </div>
                </a>
            </div>
            <div class="insta-post">
              <video src="https://cdn.shopify.com/videos/c/o/v/d3acd50280ed4cf0ac5e9cc9aa14db14.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                <a href="#" class="product-wrapper d-flex justify-start align-center">
                  <div class="product-img">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" width="35" height="35">
                  </div>
                  <div class="data">
                    <h2 class="product-title">Monsooned Malabar Monsooned Malabar</h2>
                    <div class="product-price-wrapper d-flex justify-start align-end">
                      <p class="product-price">Rs. 5000</p>
                      <span>Rs. 6000</span>
                    </div>
                  </div>
                </a>
            </div>
            <div class="insta-post">
              <video src="https://cdn.shopify.com/videos/c/o/v/a4ea9d3c67ff4613abebafa095d2fc0f.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                <a href="#" class="product-wrapper d-flex justify-start align-center">
                  <div class="product-img">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" width="35" height="35">
                  </div>
                  <div class="data">
                    <h2 class="product-title">Monsooned Malabar Monsooned Malabar</h2>
                    <div class="product-price-wrapper d-flex justify-start align-end">
                      <p class="product-price">Rs. 5000</p>
                      <span>Rs. 6000</span>
                    </div>
                  </div>
                </a>
            </div>
            <div class="insta-post">
              <video src="https://cdn.shopify.com/videos/c/o/v/954a39cf5b5a4c6bae31de9d38c40b95.mp4" playsinline="true" autoplay="autoplay" muted="muted" loop="loop" poster="" ></video>
                <a href="#" class="product-wrapper d-flex justify-start align-center">
                  <div class="product-img">
                    <img class="" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/hazelnutfront_1728x_ddd6774d-d8fe-45d0-82ee-ad17a0308c4b.webp?v=1715088300" width="35" height="35">
                  </div>
                  <div class="data">
                    <h2 class="product-title">Monsooned Malabar Monsooned Malabar</h2>
                    <div class="product-price-wrapper d-flex justify-start align-end">
                      <p class="product-price">Rs. 5000</p>
                      <span>Rs. 6000</span>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div>