<div class="main-div container collection-wrapper">
    <div class="main-div-inside">
      <h2>Shop By Category</h2>
        <div class="collection">
            <div class="relative">
                <div class="scroll-slider-wrapper">
                    <div class="first d-flex justify-between align-start">
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/coffee-capsules">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Main_Cat_Capsules_Op1.webp?v=1717674851" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">
                                  Each Capsule a Masterpiece
                                </p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/ground-coffee">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Main_Cat_Ground_Coffee_Op2.webp?v=1717674851" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Expertly Roasted & Ground</p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/pour-over-coffee-bags">
                                <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Main_Cat_Drip_Op_2_1.webp?v=1717674850" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Travel-Friendly Coffee Bags</p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/coffee-machines">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/machine_1.webp?v=1717674850" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Café Experience at Home</p>
                            </a>
                        </div>
                        <div class="flex hide-on-mobile">
                            <a href="https://coffeeza.in/collections/best-sellers">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Main_Cat_Capsules_Op2.webp?v=1717674852" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Our Hottest Picks</p>
                            </a>
                        </div>
                        <div class="flex hide-on-mobile">
                            <a href="https://coffeeza.in/collections/all-accessories">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/accessories_1.webp?v=1717674850" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Chic Coffee Accessories</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>