<div class="main-div container collection-wrapper">
    <div class="main-div-inside">
      <h2>Shop By Category</h2>
        <div class="collection">
            <div class="relative">
                <div class="scroll-slider-wrapper">
                    <div class="first d-flex justify-between align-start">
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/coffee-capsules">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/capsules2_2_11zon.webp?v=1718176596" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">
                                  Each Capsule a Masterpiece
                                  <span>
                                    <img class="go-to-link" alt="Coffeeza Coffee India" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/right-arrow_1.png?v=1719913572" width="10" height="10">
                                  </span>
                                </p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/ground-coffee">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/ground_coffee_4_11zon.webp?v=1718176596" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Expertly Roasted & Ground
                                <span>
                                    <img class="go-to-link" alt="Coffeeza Coffee India" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/right-arrow_1.png?v=1719913572" width="10" height="10">
                                  </span>
                                </p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/pour-over-coffee-bags">
                                <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Main_Cat_Drip_Op_2_1.webp?v=1717674850" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Travel-Friendly Coffee Bags
                                <span>
                                    <img class="go-to-link" alt="Coffeeza Coffee India" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/right-arrow_1.png?v=1719913572" width="10" height="10">
                                  </span>
                                </p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/coffee-machines">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/machine_3_11zon.webp?v=1718176596" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Café Experience at Home
                                <span>
                                    <img class="go-to-link" alt="Coffeeza Coffee India" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/right-arrow_1.png?v=1719913572" width="10" height="10">
                                  </span>
                                </p>
                            </a>
                        </div>
                        <div class="flex hide-on-mobile">
                            <a href="https://coffeeza.in/collections/best-sellers">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/capsules1_5_11zon.webp?v=1718176596" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Our Hottest Picks
                                <span>
                                    <img class="go-to-link" alt="Coffeeza Coffee India" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/right-arrow_1.png?v=1719913572" width="10" height="10">
                                  </span>
                                </p>
                            </a>
                        </div>
                        <div class="flex hide-on-mobile">
                            <a href="https://coffeeza.in/collections/all-accessories">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/accessories_6_11zon.webp?v=1718176596" alt="Coffeeza Coffee" height="550" width="350">
                                <p class="caption">Chic Coffee Accessories
                                <span>
                                    <img class="go-to-link" alt="Coffeeza Coffee India" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/right-arrow_1.png?v=1719913572" width="10" height="10">
                                  </span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brewing-suggestion quiz-wrapper" style="">
      <a href="#quiz-29HJ39">
        <img loading="lazy" class="desktop" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Website_quiz_banner_2.gif?v=1724868153" alt="Coffeeza Coffee" width="100" height="350">
        <img loading="lazy" class="mobile" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/Mobile_quiz_banner.gif?v=1724910886" alt="Coffeeza Coffee" width="100" height="350">
      </a>
    </div>
</div>