<div class="main-div container collection-wrapper">
    <div class="main-div-inside">
        <div class="collection">
            <div class="relative">
                <div class="scroll-slider-wrapper">
                    <div class="first d-flex justify-between align-start">
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/coffee-capsules">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/t1111.jpg?v=1715103974" alt="" height="550" width="350">
                                <!-- <p class="caption">
                                    Perfect Companions To Your Coffee
                                    </p> -->
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/ground-coffee">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/t5.jpg?v=1715103974" alt="" height="550" width="350">
                                <p class="caption">Signature Arabica Coffee Beans</p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/pour-over-coffee-bags">
                                <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/t9.jpg?v=1715104053" alt="" height="550" width="350">
                                <p class="caption">Hot Brew—Ready in 5 Minutes</p>
                            </a>
                        </div>
                    </div>
                    <button name="prev_button" class="prev"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg></button>
                                        <button name="next_button" class="next"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg></button>
                </div>
            </div>
            <div class="relative">
                <div class="scroll-slider-wrapper">
                    <div class="second d-flex justify-between align-start">
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/coffee-machines">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/t11111.jpg?v=1715103975" alt="" height="550" width="350">
                                <p class="caption">Perfect machinary for coffee</p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/all-accessories">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/t111111.jpg?v=1715103974" alt="" height="550" width="350">
                                <p class="caption">Bestseller with perfect blend</p>
                            </a>
                        </div>
                        <div class="flex">
                            <a href="https://coffeeza.in/collections/best-sellers">
                                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/t4.jpg?v=1715103976" alt="" height="550" width="350">
                                <p class="caption">Perfect Companions To Your Coffee</p>
                            </a>
                        </div>
                    </div>
                    <button name="prev_button" class="prev"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg></button>
                    <button name="next_button" class="next"><svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg></button>
                </div>
            </div>
            <!-- <div class="third d-flex justify-between align-start">
                <div class="flex">
                    <img src="./homepage/shutterstock_1727031229.jpg" alt="" height="200">
                    <p class="caption">
                        Merchandise that Travels
                        </p>
                </div>
                <div class="flex">
                    <img src="./homepage/Boozy_Pepp_Mocha_COVER_1728x.webp" alt="" height="200">
                    <p class="caption">
                        Filter Coffee that Packs a Punch
                        </p>
                </div>
            </div> -->
        </div>
    </div>
</div>