<div class="founders-note-wrapper container">
  <div class="page-width d-flex justify-center align-center">
    <img src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/imgpsh_fullsize_anim_10.png?v=1716869096" height="300" width="300"  alt="Coffeeza Coffee"/>
    <div class="details">
      <h3><b>My Love For Coffee Was Apparent</b></h3>
      <p>I have always been incredibly passionate about coffee. During my undergraduate days in the US, my dorm room resembled a buzzing café in the midst of academia. Every time I would brew a cup, the aroma would travel through the hall like a secret coffee signal, and my friends would start appearing one by one. My love for coffee was also apparent from my car's number plate, which screamed 'Caffeine' to our entire campus.</p>
      <button type="button">Shop From Founders Favorites</button>
    </div>
  </div>
</div>