<div class="founders-note-wrapper container">
  <div class="page-width d-flex justify-center align-center">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0069/2446/8314/files/5_1.jpg?v=1721813176" height="300" width="300"  alt="Coffeeza Coffee"/>
    <div class="details">
      <h3><b>Thank you for making us a part of your coffee breaks!</b></h3>
      <p>We're proud to offer a diverse range of unique blends made with AA/AAA grade specialty Indian coffee, perfect for helping you #enjoythepause in today's fast-paced world. A highly experienced team of SCA-certified coffee roasters and cuppers at our European-standard facility curates the finest blends, ensuring every cup embodies excellence.</p>
      <a href="https://coffeeza.in/collections/founders-favorite">
        Shop From Founders Favorites
      </a>
    </div>
  </div>
</div>